/* --- FORM --- */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding: 10px;
}

.contact-text {
  margin-top: var(--sm-spacing);
  margin-bottom: var(--sm-spacing);
  color: #c7c7c7;
}

.contact h3 {
  color: var(--white);
}

.contact .page-title {
  color: var(--white);
  margin-bottom: var(--sm-spacing);
}

.contact-form-wrap,
.contact-image-wrap {
  padding: 0;
}

form {
  margin-bottom: var(--sm-spacing);
}

.form-group {
  padding: 0;
}

.form-control {
  font-size: 15px;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background-color: #242432;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(83, 83, 83);
  border-radius: 1px;
  outline: transparent;
  color: var(--white);
}

.form-control:focus {
  border-bottom: 1px solid var(--red);
}

textarea {
  resize: none;
  height: auto;
  font-family: "Titillium Web", sans-serif;
}

.form-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-submit,
.form-clear {
  background-color: var(--red);
  color: var(--white);
  padding: 12px;
  border: none;
  margin: 2px;
  border-radius: 20px;
  cursor: pointer;
}

.form-clear {
  background-color: #242432;
  margin-top: 10px;
}

.form-submit:hover,
.form-clear:hover {
  background-color: var(--white);
  color: var(--black);
}

.contact-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(85%) contrast(120%) saturate(120%) sepia(15%);
}

@media (min-width: 768px) {
  .form-group {
    padding: 0 5px;
  }
}

@media (min-width: 992px) {
  .contact {
    padding: var(--spacing);
  }
  .contact-wrap {
    margin-top: var(--sm-spacing);
  }

  .contact-form-wrap {
    padding-left: 15px;
  }

  .contact-image-wrap {
    padding-right: 15px;
  }
}
